.filter-list__container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: center;
    height: auto;
    margin: 1rem;
    width: 15rem;
    
    
    
    .filter-list__items{
        display: flex;
      flex-direction: column;
      gap: .25rem;
    }
}

.search-input{
    margin-top: 1rem;
}