.filter-list__container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
    .filter-list__items{
        display: flex;
      flex-direction: column;
      gap: .25rem;
    }
}

.search-input{
    margin-top: 1rem;
}