.card-container{
    display: grid;
    gap: 1rem;
    padding: 1.5rem;
    overflow: auto;

    @media screen and (min-width: 768px){
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1024px){
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media screen and (min-width: 1440px){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    } 
}

.card-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}