.beer-card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    border: solid 0.05rem black;
    box-shadow: .15rem .12rem 0rem;
    background-color: white;

    .beer__name{
        font-size: 1.5rem;
        font-weight: 600;
        padding-bottom: .5rem;
    }

    .beer__image{
        width: 50%;
        height: 10rem;
        object-fit: contain;
    }

    .beer__tagline{
        font-weight: 600;
    }


    .beer__more-info{
        padding-top: 1rem;

        .beer__desc{
            padding-bottom: 1rem;
        }

        .beer__brew-date{

        }

        .beer__ph{

        }

        .beer_ibu{
            
        }
    }
}



.beer-card:hover{
    background-color: rgb(255, 224, 140);
}