.bubbles-container, html{
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: orange;


    .title-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        

    .navbar__title{
        font-size: 8rem;
        z-index: 2;
        padding-top: 18%;
        position: absolute;
        margin-top: 4rem;
        font-family: 'League Gothic', sans-serif;;

        @media screen and (min-width:768px){
            font-size: 12rem;
        }
    }
}

    .beer-top{
        background-color: rgb(0, 157, 255);
        padding-top: 3rem;

        .beer-foam{
            top: 0.5rem;
            width: 100%;
            max-height: 20rem;
            object-fit: fill;
            position: relative;
            z-index: 1;
        }
    }

    @keyframes moveBubble{
        0% { top: 600px}
    
        50% {
            background-color: rgba(255, 255, 255, 0.405);
            top: 300px;
        }
    
        100% {
            background-color: rgba(255, 255, 255, 0);
            top: 0px;
        }
    }

    .bubble{
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        height: 20px;
        width: 20px;
        position: absolute;
        bottom: 0%;
        animation: moveBubble 6s linear infinite;
    }

    .beer-bottom{
        height: 100%;
    }

    #bubble1{
        right: 15%;
        animation-delay: 4.8s;
    }

    #bubble2{
        right: 18%;
        animation-delay: 2.65s;
    }

    #bubble3{
        right: 52%;
        animation-delay: 3s;
    }

    #bubble4{
        right: 25%;
        animation-delay: 4.1s;
    }

    #bubble5{
        right: 65%;
        animation-delay: 0.25s;
    }

    #bubble6{
        right: 80%;
        animation-delay: 5.1s;
    }

    #bubble7{
        right: 48%;
        animation-delay: 1s;
    }

    #bubble8{
        right: 53%;
        animation-delay: 1.85s;
    }

    #bubble9{
        right: 63%;
        animation-delay: 4.5s;
    }

    #bubble10{
        right: 33%;
        animation-delay: 3.75s;
    }
}